/*general html*/
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
p,a,span{
  font-size: 2vmin;
}
button{
  background-color: transparent;
  border:0px;
}
button:hover{
  color:#98c379;
}
button:focus {
  outline:0;
}

/*background colors*/
.DarkBackground{
  background-color: #8c8c8c;
}
.LightBackground{
  background-color: #d8d8d8;
}
.ColorBackground{
  background-color: #e06c75;
}
.AccentBackground{
  background-color: #e771d8;
}
/*text colors*/
.DarkTextColor{
  color: #8c8c8c;
}
.LightTextColor{
  color: #d8d8d8;
}
.ColorTextColor{
  color: #e06c75;
}
.AccentTextColor{
  color: #98c379;
}
.Accent2TextColor{
  color: #d19a66;
}
.OffWhiteTextColor{
  color: #abb2bf;
}
.Accent3TextColor{
  color: #61afef;
}

/*generic misc*/
.MassiveText{
    font-size: 20vmin;
}
.ExtraLargeText{
    font-size: 17.5vmin;
}
.LargeText{
    font-size: 15vmin;
}
.MediumLargeText{
    font-size: 7vmax;/*we start having to use max instead of min incase of line overflow*/
}
.MediumText{
    font-size: 10vmin;
}
.MediumSmallText{
    font-size: 5vmin;
}
.MediumSmall2Text{
    font-size: 3vmin;
}
.NormalText{
    font-size: 2vmin;
}
.Fade{
  opacity: 0.75;
}
.Fade0{
  opacity: 0.65;
}
.Fade1{
  opacity: 0.5;
}
.Fade2{
  opacity: 0.4;
}
.Fade3{
  opacity: 0.25;
}
.footer{
  height:100%;
  width: 100%;
}
.FlexBox{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  text-align: center;
  align-items: center;
}
.FlexContainer{
  width: 100%;
  padding-left: 10vmin;
  padding-right: 10vmin;
}
.AutoMargin{
  margin: auto;
}
.PrimaryButton{
  width:20vmin;
  height: 5vmin;
}

/*title page css*/
#titlePageDiv{
  height: 65%;
  width: 100%;
  position: relative;
  background-image: url("./TitlePageBackground.png");
  background-repeat: no-repeat;
  background-color: #131418;
  background-position: center;
    background-attachment: fixed;
}

.Parentheses{
  font-size: 20vmin;
  position: absolute;
  opacity: 0.25;
}
#openParentheses{
  margin-left:3%;
  top: 0px;
  left: 0px;
}
#closeParentheses{
  margin-right:3%;
  bottom: 0px;
  right: 0px;
}
#contactDetails{
  margin-left:3%;
  bottom: 3vmin;
  left: 0px;
  position: absolute;
}
#titlePageContent{
}
#skillsDiv{
  margin-top: 3vmin;
}
.TitlePageItem{
}

.AndroidLogoHoverable{
   content: url("./android_logo.svg");
}
.AndroidLogoHoverable:hover{
   content: url("./android_logo_hover.svg");
}
#projectsDiv{
  position: relative;
  height: 30%;
  margin-top: -1vmin;
}
#projectsNavDiv{
}
.PortfilioButton{
  height: 5vmin;
  text-align: center;
  padding: 5px;
  width: 40vmin;
}
.PortfilioButton:hover{
  color: #61afef;
}
