html{
  font-family:  'PT Sans', sans-serif;
  cursor: default;
}
body{
    margin: 0px;
}
span{
    display:inline-block;
}
/*nav bar*/
.navBar{
  width: 20%;
  height: 100%;
  background-color: #151515;
  box-shadow: 5px 0px 5px #808080;
  color:white;
  padding: 0px 20px;
  min-width: 200px;

  -webkit-animation: fadeInAni 0.5s linear forwards;
  animation: fadeInAni 0.5s linear forwards;
}
.navBarTitle{
  font-size: 2em;
  padding-left: 10px;
}
.navBarSubTitle{
  font-size: 1.8em;
  margin-top: 40px;
  padding-left: 10px;
}
.navBarItem{
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 5px;
    padding-left: 10px;
  width: 100%;
    color:#ffffffc0;
}
.navBarItem:hover{
  color: #61afef;
  margin-left: 10px;
  background-color:white;
  transition: all 0.5s ease;
}

@keyframes fadeInAni {
  0% {
    opacity: 0;
    box-shadow: 0px 0px 5px #808080;
   }
  100% {
    opacity: 1;
    box-shadow: 5px 0px 5px #808080;
  }
}
